# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
.vs/devgrigs-platform.slnx/FileContentIndex/344bcd3e-10a3-45f9-9b62-89aabae8f860.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/5c41ba12-dcdb-4db8-82ce-be2e2e009b0a.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/7b98e048-9351-4fd3-87bb-32485ed80196.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/87a0b7ba-3222-4595-a67e-6c54aa49d381.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/a1507f67-7e02-4253-9f5a-a346e3de54a0.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/bcac3762-cf5f-460a-b596-86118fb87318.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/d9673437-aaff-4107-9b57-586c7d34b6a8.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/e5813682-834c-4a38-b234-d459b3a9572c.vsidx
.vs/devgrigs-platform.slnx/v18/.wsuo
.vs/devgrigs-platform.slnx/v18/DocumentLayout.backup.json
.vs/devgrigs-platform.slnx/v18/DocumentLayout.json
.vs/slnx.sqlite
promt.txt
.vs/devgrigs-platform.slnx/FileContentIndex/5c41ba12-dcdb-4db8-82ce-be2e2e009b0a.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/7b98e048-9351-4fd3-87bb-32485ed80196.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/87a0b7ba-3222-4595-a67e-6c54aa49d381.vsidx
.vs/devgrigs-platform.slnx/FileContentIndex/e5813682-834c-4a38-b234-d459b3a9572c.vsidx
.vs/devgrigs-platform.slnx/v18/.wsuo
.vs/devgrigs-platform.slnx/v18/DocumentLayout.backup.json
.vs/devgrigs-platform.slnx/v18/DocumentLayout.json
.vs/slnx.sqlite
